
body {
    padding: 0 1em;
}

h1 {
    color: black;
    border-bottom: 2px solid #00f;
}

h2 {
    color: black;
    border: 2px solid #aaa;
    padding-bottom: 5px;
}

p {
    text-align: justify;
}

h2+ul {
    padding-left: 2em;
    border-bottom: 3px dotted red;
    border-top: 3px dotted red;
}

h2+p+ul {
    list-style-type: square;
    padding-left: 2em;
    border: 3px dotted green;
}